* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
@font-face {
  font-family: "Lusitana";
  src: url("fonts/lusitana/Lusitana.woff2") format("woff2"),
    url("fonts/lusitana/Lusitana.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Lusitana", sans-serif;
  background-color: #f0f8ff ;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5px 0px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  margin: 0;
}
footer {
  width: 100%;
  text-align: right;
  background-color:seagreen;
  color: white;
  font-family: "Century Gothic", sans-serif;
  font-size: 10px;
  padding: 5px;
}
.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  margin: 0 auto;
  min-width: 350px;
  min-height: fit-content;
}
.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.box3 {
  display: flex;
  gap: 5px;
}
h1 {
  max-width: 160px;
  font-size: 18px;
  color: rgb(224,42,38);
  margin: 0px;
  padding: 1;
  font-weight: bold;
}

h2 {
  padding: 10px 0 0;
  color: seagreen;
}

.logo {
  min-width: 156px;
  width: 156px;
  height: 98px;
  margin: 0;
}
.icon {
  height: 24px;
  font-weight: 24px;
}
.gruppe {
  width: 400px;
}
article {
  padding: 15px 0;
  max-width: 550px;
  min-width: 375px;

  text-align: justify;
}
.copyright {
  font-size: 7px;
  vertical-align: top;
}
.rot {
  color: seagreen;
  line-height: 2;
}
.icon:hover {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 1.2;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: rgb(224,42,38);
}

button {
  font-size: 12px;
  transition: all 0.3s ease;
  padding: 1px 2px;
  font-weight: lighter;
}

button:hover {
  color:rgb(224,42,38);
  cursor: pointer;
}

.flagi {
  width: 12px;
}

.current {
  font-weight: bold;
}
.current a {
  color: rgb(224,42,38);
  font-weight: bold;
}

.flex {
  display: flex;
}

.aside {
  display: flex;
  min-width: 350px;
}
.fett {
  font-weight: bold;
}
video {
  height: 400px;
}
.logocentro {
  width: 15%;
}
.centrohaus {
  width: 50%;
}
section {
  text-align: center;
}

.impressum {
  font-size: 8px;
}
h4 {
  color: seagreen;
}
.neuza {
  display: flex;
  align-items: center;
}