@font-face {
    font-family: 'Lusitana';
    src: url('Lusitana.woff2') format('woff2'),
        url('Lusitana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

